.twai-notification-badge {
  position: absolute;
  top: -8px;
  right: 0px;
  text-decoration: none;
  background-color: #e74c3c;
  width: 35px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
